# Default ignored files
/shelf/
/workspace.xml
/.idea
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/__pycache__/
MRUSLandmarking/__pycache__/

MRUSLandmarking/Resources/Logic/__pycache__/

MRUSLandmarking/.idea/

.DS_Store
